# Allow $_SERVER['HTTP_AUTHORIZATION']
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

## Content Security Policy
#Header set Content-Security-Policy "default-src 'self';"

Header set Referrer-Policy "no-referrer"
Header set X-Frame-Options "DENY"
Header set X-XSS-Protection "1; mode=block"